.carousel{
    position: relative;
}
.carousel_inner{
    position: relative;
    overflow:hidden;
}
.carousel_item{
    position: relative;
}
.carousel_item img{
    width:100%;
}
.carousel_control_prev,.carousel_control_next{
    width:50px;
    height:90px;
    display:block;
    overflow:hidden;
}
.carousel:hover .carousel_control_prev,.carousel:hover .carousel_control_next {
    display:block;
}
.carousel_item{
    width:100%;
    position: relative;
    display:flex;
}
.aa{
    width:100%;
    flex-shrink:0;
}



